!!!
%html
  %head
    =content_tag :title, @title || "Аренда манипуляторов в Петербурге"
    =stylesheet_link_tag "application"
    =javascript_include_tag "application"
    =javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.js"
    =csrf_meta_tags
  %body
    #container
      .holder
        #header
          =render 'shared/swf'
          #teaser
            %p Аренда манипулятора – это транспортировка грузов на любые расстояния в пределах Санкт-Петербурга и Ленинградской области, а также их быстрая и абсолютно безопасная погрузка и разгрузка.
        #left_column
          %ul
            %li= link_to 'Главная', root_path
            %li= link_to 'Цены', prices_path
            %li= link_to 'Услуги', services_path
            / %li= link_to 'Информация', info_path
            %li= link_to 'FAQ', faq_path
        #center_column
          =yield
        #right_column
          %p.form_header Форма заказа
          =render 'shared/form', order_form: OrderForm.new
        #clear
        #footer
          #gears
          #footer_links
          #footer_tel
            %p= link_to 'Контактная информация', root_path
